.results-summary-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 43px;
}

.results-summary-header-wrapper > h1 {
    font-size: 30px;
    margin-bottom: 17px;
}

.results-summary-header-wrapper > p {
    font-size: 18px;
    color: rgba(148, 148, 148, 1);
}

@media screen and (max-width: 768px) {
    .results-summary-wrapper {
        margin-left: 14px;
    }
    
}