.publication-card-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 641px;
  height: 694px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 38px;
  padding: 19px 30px;
}

.publication-date-and-source {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-top: 19px;
}

.publication-date-and-source > span,
.publication-date-and-source > a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(148, 148, 148, 1);
}

.publication-date-and-source > a {
  text-decoration: underline;
  transition: 0.3s;
}

.publication-date-and-source > a:hover {
  color: rgb(115, 115, 115);
}

.publication-header-and-bage {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 14px;
}

.publication-header-and-bage > h2 {
  font-family: Inter;
  font-size: 26px;
  font-weight: 500;
  line-height: 31.47px;
  letter-spacing: 0.02em;
  text-align: left;
}

.publication-header-and-bage > span {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  letter-spacing: 0.02em;
  text-align: center;
  background: rgba(255, 182, 79, 1);
  border-radius: 5px;
  width: 157px;
  padding: 5px;
}

.publication-img-content {
  width: 581px;
  height: 158px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.publication-img-content > img {
  width: 581px;
  height: 158px;
  border-radius: 10px;
  object-fit: cover;
  object-position: 0 0;
}

.publication-text-content {
  width: 581px;
  height: 228px;
  margin-bottom: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.publication-text-content > p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(148, 148, 148, 1);
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
}

.publication-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 28px;
  margin-bottom: 35px;
}

.publication-footer > a {
  width: 223px;
  height: 46.54px;
  border-radius: 5px;
  background: rgba(124, 227, 225, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.02em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.publication-footer > a:hover {
  text-decoration: none;
  background: rgba(124, 227, 225, 0.7);
}

.publication-footer > span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(148, 148, 148, 1);
}

@media screen and (max-width: 768px) {
  .publication-card-wrapper {
    width: 335px;
    height: 694px;
    padding: 19px 14px;
  }
  .publication-date-and-source > span,
  .publication-date-and-source > a {
    font-size: 14px;
  }
  .publication-header-and-bage > h2 {
    font-size: 19px;
  }
  .publication-header-and-bage > span {
    font-size: 10px;
  }
  .publication-img-content,
  .publication-img-content > img {
    width: 297px;
    height: 158px;
  }
  .publication-text-content {
    width: 290px;
    height: 255px;
  }
  .publication-text-content > p {
    font-size: 12px;
  }
  .publication-footer > a {
    width: 195px;
    height: 40.7px;
    font-size: 14px;
  }
  .publication-footer > span {
    font-size: 14px;
  }
}
