.menu-toggle {
  border: none;
  text-decoration: none;
  background-color: transparent;
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 1;
  margin-right: 28px;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #029491;
  margin: 4px 0;
  transition: transform 0.3s ease;
}

.menu-toggle.open span {
  background-color: #ffffff;
}

.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  right: -100%; /* Start off-screen to the right */
  width: 100%; /* Set your desired width */
  height: 100vh; /* Take full height of the screen */
  background-color: #029491; /* Add your desired background color */
  transition: right 0.3s ease; /* Smooth transition effect */
}

.menu.open {
  right: 0; /* Move into view */
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 14px;
  margin-right: 28px;
  margin-bottom: 36px;
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-links > a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #ffffff;
  padding-bottom: 26px;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-footer > a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(255, 255, 255, 0.541);
  margin-bottom: 20px;
}

.menu-footer > button {
  width: 295px;
  height: 52px;
  background-color: #7ce3e1;
  border: none;
  border-radius: 5px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000;
  cursor: pointer;
}
