.plan-card {
  width: 415px;
  height: 540px;
  box-shadow: 0px 0px 20px 0px #00000033;
  border-radius: 10px;
  transition: 0.3s;
}

.plan-top {
  display: flex;
  flex-direction: row;
  border-radius: 7px 7px 0px 0px;
}

.plan-title {
  display: flex;
  flex-direction: column;
}

.plan-title > p,
.plan-title > h2 {
  margin-left: 30px;
}

.plan-title > h2 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  line-height: 36.31px;
  letter-spacing: 0.01em;
  text-align: left;
}

.plan-title > p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 313px;
  margin-top: -10px;
  margin-right: -36px;
}

.plan-img {
  margin-top: 11px;
  margin-right: 16px;
}

.plan-img > img {
  width: 94px;
  height: 104px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: -30px;
}

.plan-bottom {
  margin-left: 30px;
}

.price > h2,
.price > .old-price {
  margin-right: 5px;
}

.price > h2 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  line-height: 36.31px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-right: 19px;
}

.price > .old-price {
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
  line-height: 30.26px;
  letter-spacing: 0.01em;
  text-align: left;
  color: darkgray;
  text-decoration: line-through;
}

.price > .rate-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 30px;
  margin-top: 12px;
  background-color: #3ba5e0;
  border-radius: 10px;
  width: 134px;
  height: 24px;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: 0.01em;
  color: #ffffff;
  align-self: flex-start;
}

.footnote {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 60px;
  padding-right: 8px;
}

.label-list {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: -17px;
}

.plan-bottom > ul {
  list-style-type: none;
  padding-left: 0;
}

.plan-bottom > ul > li {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.check {
  height: 20px;
  width: 20px;
  background-image: url("../../../public/check.png");
  margin-right: 8px;
}

.plan-bottom > ul > li > p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
}

.button-plan {
  margin-top: -50px;
}

.button-plan > .request-button {
  transition: 0.3s;
}

.button-plan > .request-button:hover {
  background: #596fffac;
}

@media screen and (max-width: 768px) {
  .plan-card {
    width: 335px;
    height: 512px;
  }

  .plan-title > h2 {
    font-size: 20px;
  }

  .plan-title > p {
    margin-right: -72px;
    margin-top: 10px;
  }

  .plan-img {
    margin-right: 18px;
  }

  .plan-img > img {
    width: 68px;
    height: 75px;
  }

  .button-plan > button {
    width: 286px;
    height: 59px;
    font-size: 15px;
    text-align: center;
  }

  .footnote {
    margin-bottom: 36px;
  }

  .label-list {
    margin-bottom: -24px;
  }
}
