@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 14px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.image-header-wrapper {
    margin-left: 60px;
    margin-right: 401px;
}

.links-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 49px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .image-header-wrapper {
        margin-left: 14px;
    }
    
    .image-header-wrapper {
        margin-right: 0px;
    }
}