.login-wrapper {
  display: grid;
  grid-template-areas:
    "title form"
    "image form";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding-left: 60px;
}

.login-title {
  grid-area: title;
}

.login-image {
  grid-area: image;
  margin-bottom: 103px;
}

@media screen and (max-width: 768px) {
  .login-wrapper {
    grid-template-areas:
      "title"
      "form"
      "image";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    padding-left: 14px;
  }

  .login-image {
    margin-bottom: 80px;
  }
}
